/* 
<!-- expected layout -->
<body class="sidebar-container">
  <nav class="sidebar-nav">
  <details class="sidebar-button">
    <summary class="sidebar-button-icon"></summary>
  </details>
  <menu>
    <li><a></a></li>
  </menu>
  </nav>
  <main class="sidebar-body">
    <article class="sidebar-content">
      <!-- content goes here -->
    </article>
  </main>
</body> 
*/

div.sidebar-container {
  display: flex;
  flex-direction: row;

  /* to prevent scroll */
  height: 100vh;
  overflow-y: hidden;
}

div.sidebar-container details.sidebar-nav {
  flex: 0;
  transition: flex 0.25s;
}

/* 600px for mobile */
@media (max-width: 600px) {
  details.sidebar-nav[open] {
    flex: 160 !important;
    transition: flex 0.25s;
  }
}

/* 601px for desktop */
@media (min-width: 601px) {
  details[open] {
    flex: 20 !important;
    transition: flex 0.25s;
  }
}

details.sidebar-nav + section.sidebar-body {
  flex: 80;

  border-left: 1px solid black;

  height: 100%;
  overflow-y: scroll;
}

details.sidebar-nav a:hover {
  color: var(--primary);
}

details.sidebar-nav summary {
  list-style: none;
  display: flex; /* The only way to get id of a minor misalignment */
}

span.sidebar-button-icon::before {
  content: "\2630"; /* hamburger unicode */
  font-size: small;
}

span.sidebar-button-icon {
  background-color: lightgray;
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 2px;
}

span.sidebar-button-icon:hover {
  background-color: darkgray;
}

span.sidebar-button-icon:active {
  background-color: gray;
}

section.sidebar-body article.sidebar-content {
  width: 80%;
  margin: 0px auto;
  background-color: white;
}

@media print {
  section.sidebar-body {
    border-left: none !important;
  }

  details.sidebar-button {
    display: none;
  }

  nav.sidebar-nav {
    display: none !important;
  }

  div.sidebar-container {
    height: fit-content !important;
  }
}