:root {
  --primary: black;
  --accent: white;
}

.us-justices-table {
  width: 100%;
}

.us-justices-table thead {
  background-color: var(--accent);
}

.us-justices-table tbody tr:nth-child(odd) {
  background-color: var(--accent);
}

.us-justices-table tbody tr td {
  padding: 5px 15px;
  border-bottom: 1px solid var(--primary);
}

.us-justices-table td:last-child {
  text-align: end;
}

a:hover {
  color: var(--primary);
}
