/* 
<!-- expected layout -->
<body class="side-bar-container">
  <nav class="side-bar-nav">
  <menu>
    <li><a></a></li>
  </menu>
  </nav>
  <main class="side-bar-body">
    <details class="side-bar-button">
      <summary class="side-bar-button-icon"></summary>
    </details>
    <article class="side-bar-content">
      <!-- content goes here -->
    </article>
  </main>
</body> 
*/

body.side-bar-container {
  display: flex;
  flex-direction: row;
  gap: 5px;

  /* to prevent scroll */
  height: 100vh;
  overflow-y: hidden;
}

body.side-bar-container nav.side-bar-nav {
  display: flex;
  flex-direction: column;

  flex: 0;
  transition: flex 0.25s;

  /* to prevent jumpiness when minimizing/maximizing side-bar */
  overflow-x: hidden;
  text-wrap: nowrap;
}

/* 600px for mobile */
@media (max-width: 600px) {
  body.side-bar-container nav.side-bar-nav:has(+ .side-bar-body details[open]) {
    flex: 160;
    transition: flex 0.25s;
  }
}

/* 601px for desktop */
@media (min-width: 601px) {
  body.side-bar-container nav.side-bar-nav:has(+ .side-bar-body details[open]) {
    flex: 20;
    transition: flex 0.25s;
  }
}

nav.side-bar-nav + main.side-bar-body {
  flex: 80;

  border-left: 1px solid black;

  height: 100%;
  overflow-y: scroll;
}

nav.side-bar-nav menu li a:hover {
  color: var(--primary);
}

main.side-bar-body details.side-bar-button {
  position: absolute;
  z-index: 1;
}

details.side-bar-button summary.side-bar-button-icon::before {
  content: "\2630"; /* hamburger unicode */
  font-size: small;
}

details.side-bar-button summary.side-bar-button-icon {
  display: block;
  background-color: lightgray;
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 2px;
}

details.side-bar-button + article.side-bar-content {
  width: 80%;
  margin: 10px auto;
}
