<!DOCTYPE html>
<html lang="en">

<body class="sidebar-container">
  <details class="sidebar-nav">
    <summary>
      <span class="sidebar-button-icon"></span>
    </summary>
    <menu id="sidebar-nav-menu">
      <!-- populated by JS -->
    </menu>
  </details>

  <section class="sidebar-body">
    <nav class="toolbar">
      <menu id="toolbar-menu" class="toolbar-menu">
        <span>Kentucky Jail Ministries</span>
        <a target="_blank" href="https://kjministries.org/">About</a>
        <div class="dropdown">
          <button class="dropdown-button">Prayer Lists</button>
          <div class="dropdown-content">
            <a href="/articles/justices.html">Justices</a>
            <a href="/articles/cabinet.html">Cabinet</a>
          </div>
        </div>
      </menu>
    </nav>
    
    <article id="sidebar-content" class="sidebar-content">
      <!-- populated by JS -->
      Please wait while we load your request...
    </article>
  </section>
</body>
</html>